<section>
<h1>Your Board </h1>
<table>
  <%n = 0 %>
  <%letter = 'a'%>
  <% num = 0 %>
  <% spaces.each do |space| %>

  <% if n == 0 %>
  <tr >
    <%= num += 1 %>
  </tr>
  <tr>
    <% end %>
    <td class="<%=space.coordinate %> <%= space.status %> block"></td>
    <% if n == 9 %>
  </tr>
  <%end%>
  <% if n < 9 %>
  <% n+= 1%>
  <%else %>
  <% n = 0 %>
  <%end %>
  <%end %>
</table>


<h1>Opponent Board </h1>
<label>Click block to select coordinate, then hit fire</label>
<table class="bottom">
  <%n = 0 %>
  <%letter = 'a'%>
  <% num = 0 %>
  <% spaces.each do |space| %>

  <% if n == 0 %>
  <tr >
    <%= num += 1 %>
  </tr>
  <tr>
    <% end %>
    <td class="<%=space.coordinate %> <%= space.status %> block"></td>
    <% if n == 9 %>
  </tr>
  <%end%>
  <% if n < 9 %>
  <% n+= 1%>
  <%else %>
  <% n = 0 %>
  <%end %>
  <%end %>
</table>

<form class=".fire-buttom">
  <label>Coordinates:</label>
  <input type="text" value="">
  <button type="submit" class=".fire-button">Fire</button>
</form>

</section>
