<h1>Bumbleship</h1>
<%= form_for :player, url: '/games', :html => {:class => "<%=@player1_form%>" } do |f| %>
Username: <br>
<%= f.text_field :username %>
<%= f.submit "play" %>
<% end %>

<%= form_for :player, url: '/games', :html => {:class => "<%=@player2_form%>"} do |f| %>
Username: <br>
<%= f.text_field :username %>
<%= f.submit "Join The Game" %>
<% end %>
